<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #battleForm="ngForm">
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" [(ngModel)]="battle.description"
               class="form-control" id="description" name="description" placeholder="Enter a description"
               required #description="ngModel">
        <div [hidden]="!description.pristine" class="alert alert-danger">Description is required</div>
      </div>

      <div class="form-group">
        <label for="armyTotal">Army Total</label>
        <input type="text" [(ngModel)]="battle.armyTotal"
               class="form-control" id="armyTotal" name="armyTotal" placeholder="Enter an army Total"
               required #armyTotal="ngModel">
        <div [hidden]="!armyTotal.pristine" class="alert alert-danger">Army total is required</div>
      </div>

      <div class="form-group">
        <label for="soldierTotal">Soldier Total</label>
        <input type="text" [(ngModel)]="battle.soldierTotal"
               class="form-control" id="soldierTotal" name="soldierTotal" placeholder="Enter soldier Total"
               required #soldierTotal="ngModel">
        <div [hidden]="!soldierTotal.pristine" class="alert alert-danger">Soldier total is required</div>
      </div>

      <button type="submit" [disabled]="!battleForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
